@model PagedList.IPagedList<Model.EF.News>
@using PagedList.Mvc;
  @using Common;                             


                               @{
                                   Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
                               }
        <a href="/Admin/News/Index"> Thêm mới</a>
       @section header{
    Danh sách tin tức
}
@section jsFooter{

}



    @using (Html.BeginForm("Index", "TinTuc", FormMethod.Get))
    {
        <div class="row form-group">
            <div class="col-lg-12">
                <div class="col-md-4">
                    <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    <a class="btn btn-primary" href="/Admin/News/Create">Thêm mới</a>
                </div>
            </div>
        </div>
    }
    <div class="list_item">
        <table class="table table-striped table-bordered" id="sample_1">
            <tr>
                <th style="width:8px;">
                    <input id="chkAll" onclick="javascript:SelectAllCheckboxes(this,1);" type="checkbox" />
                </th>
                <th class="hidden-phone">
                    Hình ảnh
                </th>
                <th class="hidden-phone">
                    Tiêu đề tin
                </th>
                <th class="hidden-phone">
                    Ngày tạo
                </th>
                <th class="hidden-phone">
                    Xem
                </th>
                <th class="hidden-phone">
                    Làm mới
                </th>
                <th class="hidden-phone">
                    Hiển thị
                </th>
                <th class="hidden-phone">
                    Tại sao
                </th>
                <th class="hidden-phone">
                    Giáo viên
                </th>
                <th class="hidden-phone">
                    Tin mới
                </th>

                <th class="hidden-phone" colspan="2">
                    Chức năng
                </th>
            </tr>


            @foreach (var item in Model)
            {
                <tr class="odd gradeX">
                    <td class="hidden-phone">
                        <asp:CheckBox ID="chkid" runat="server" onclick="javascript:changeColor(this,'white');" /><asp:HiddenField ID="hiID" Value='<%# Eval("inid") %>' runat="server" />
                    </td>
                    <td style="text-align:center" class="Imgsmall">
                        <img src="@item.Images" style=" width:20px" />
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td style="text-align:center">
                        @item.Create_Date
                    </td>
                    <td style="text-align:center">
                        @item.Views
                    </td>
                    <td style="text-align:center"></td>
                    <td style="text-align:center">
                        <a class="btn-active" href="/TinTuc/Status?id=@item.inid">@Html.Raw(MoreAll.commond.Enable(@item.Status.ToString()))</a>
                    </td>
                    <td style="text-align:center">
                        @Html.Raw(MoreAll.commond.Enable(@item.New.ToString()))
                    </td>
                    <td style="text-align:center">
                        @Html.Raw(MoreAll.commond.Enable(@item.CheckBox1.ToString()))
                    </td>
                    <td style="text-align:center">
                        @Html.Raw(MoreAll.commond.Enable(@item.CheckBox2.ToString()))
                    </td>
                    <td class="hidden-phone" style="text-align:center">

                    <td>
                    


                        @*@Ajax.ActionLink("Xoá", "Delete", new { @id = item.inid }, new AjaxOptions
                                   {
                                       Confirm = "Bạn có muốn xoá bản ghi này?",
                                       OnComplete = "$('#row_" + @item.inid + "').remove()",
                                       HttpMethod = "Delete"
                                   })*@


                        @Html.ActionLink("Edit", "Edit", new { id = item.inid }) |
                        @Html.ActionLink("Details", "Details", new { id = item.inid }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.inid })
                    </td>
                </tr>
            }

    </div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
